<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
    <header>
        <h1>Issue Tracker</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <!-- You can add more navigation items here -->
        </ul>
    </nav>

    <main>
        <h3>Create Project</h3>
        <form method="POST" action="/creat_project"> 
            <input type="text" name="name" placeholder="enter project name" required>
            <input type="text" name="description" placeholder="enter project description">
            <input type="text" name="author" placeholder="enter project author name" required>
            <button type="submit">Add Project</button>
        </form>
    </main>

    <h1>Project List</h1>
    <div>
        <ul>
            <% for (let project of project_list) { %>
                <li>
                    <a href="user/<%= project.name %>">
                        <p><%= project.name %></p>
                    </a> 
                    <p><%= project.description %></p>
                    <p><%= project.author %></p>
                </li>
            <% } %>
        </ul>   
    </div>

    <footer>
        <p>&copy; 2023 Your Company. All rights reserved.</p>
    </footer>
</body>
</html>
